@font-face {
    font-family: 'fuente-1';
    src: url('/Fonts/Fonts/arial.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-2';
    src: url('/Fonts/Fonts/Montserrat-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'fuente-3';
    src: url('/Fonts/Fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-4';
    src: url('/Fonts/Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-5';
    src: url('/Fonts/Fonts/Poppins-Bold.ttf') format('truetype');
}



html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'fuente-4', sans-serif;
    margin: 0;
    background-color: black;
}
h2{
    font-family: 'fuente-3', sans-serif; 
    font-weight: 400;

}

.container {
    width: min(144rem, 90%);
    margin: 0 auto;
    text-align: center;
}

.container_secundary {
    width: min(108rem, 90%);
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 72px !important;
    margin: 0 !important;
    color: white !important;
}

@media (max-width: 1280px) {
    h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px !important;
    }
}

/* Header */
header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
    background-color: #FBB101;
    margin-bottom: 10px;
}
header a{
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
        gap: 1rem;
    }
}


header img {
    width: 60px;
    height: auto;
}

header nav {
    display: flex;
    gap: 3rem;
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
    color: white;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 1280px) {
    nav a {
        font-size: 16px;
    }
}

nav a:hover {
    color: rgb(220, 220, 220);
    transition: all 0.5s ease;
    color: rgb(179, 146, 26);
}

/* Fotter */
footer {
    height: 80px;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #FBB101;
    color: rgb(226, 253, 253);
    font-size: 18px;
}


/* Home */
.home-main {
    height: calc(100vh - 90px);
    width: 100%;
    background-image: url('/image/2x/img1@2x.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 200px;
}


@media (max-width: 1400px) {
    .home-main {
        padding: 5rem;

    }
}

.header-left {
    cursor: pointer;
}

.header-left:hover {
    color: rgb(220, 220, 220);
    transition: all 0.5s ease;
    color: rgb(179, 146, 26);
}

.home-main-text {
    width: min(95%, 1280px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
}

.home-main-text h2 {
    font-size: 26px;
}

.home-main-text-subtitle {
    width: min(95%, 920px);
}

.home-main-text-subtitle h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 2rem;
}

@media (max-width: 1280px) {
    .home-main-text h2 {
        font-size: 22px;
    }

    .home-main-text-subtitle h3 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 2rem;
    }

}

@media (max-width: 768px) {
    .home-main {
        padding: 5rem 2rem;
        /* height: 100%; */
    }

    .home-main-text {
        text-align: center;
    }

    .home-main-text h2 {
        font-size: 16px;
    }

    .about-content-left-line img{
        display: none;
    }

    .home-main-text-subtitle h3 {
        font-size: 14px
    }
}

/* end home */

/* About */
.about_header {
    display: flex;
    height: 100px;
    width: 100%;
    padding: 0 20rem;
    align-items: center;
    background-color: #FBB101;
}

.about-content {
    width: 100%;
    display: flex;
    align-items: end;
    background-image: url(/image/2x/img2@2x.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}


.about-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-content-left {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    color: white;
    padding: 1rem 5rem;
    width: 42%;
}

.about-content-left h2 {
    padding-left: 15rem;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 1rem;
}

.about-content-left-line {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.about-content-left-line img {
    width: 100px;
    height: 100px;
}

.about-content-left-line p {
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 1660px) {
    .about-content-container {
        max-width: 100%;
    }

    .about-content-left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: white;
        padding: 1rem 1rem;
        width: 42%;
    }

    .about-content-left-line {
        gap: 2rem;
    }

    .about-content-left-line p {
        font-size: 16px;
        font-weight: 400;
    }
}

@media (max-width: 1400px) {
    .about-content-left {
        padding: 2rem 5rem;
        gap: 1rem;
    }

    .about-content-left h2 {
        padding-left: 0;
        font-size: 20px;
    }

    .about-content-left-line {
        gap: 1rem;
    }

    .about-content-left-line img {
        width: 50px;
        height: 50px;
    }

    .about-content-left-line p {
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .about-content-left h2 {
        padding-left: 0;
        font-size: 26px !important;
    }

    .about-content {
        background-size: 50% 100%;
    }

    .about-content-left {
        width: 50%;
    }

    .about-content-left-line p {
        font-size: 12px;
    }


}


.container-realiable {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: end;
    background-image: url(/image/2x/recuadro@2x.png);
    background-size: cover;
}

@media (max-width: 1600px) {
    .container-realiable {
        height: 200px;
    }
}

.container-realiable-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: black;
}

.container-realiable-text strong {
    font-size: 40px;
}

.container-realiable-text p {
    font-size: 18px;
    width: 70%;
}

@media (max-width: 920px) {
    .container-realiable-text strong {
        font-size: 30px;
    }

    .container-realiable-text p {
        font-size: 14px;
    }

    .about-content-left {
        padding: 1rem 2rem;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .container-realiable {
        height: 162px;
    }

    .container-realiable-text strong {
        font-size: 20px;
    }

    .container-realiable-text p {
        font-size: 12px;
        width: 90%;
    }

    .about-content-left {
        padding: 0rem 1rem;
        gap: 1rem;
    }
}


/* end about */

/* Roof */
.contaner-roof {
    width: 100%;
    background-image: url('/image/2x/img3@2x.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem
}

.contaner-roof h2 {
    font-size: 50px;
    color: white;
    margin: 0;
}

.contaner-roof p {
    color: white;
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 768px) {

    .contaner-roof {
        align-items: center;
        justify-content: center;
        padding: 2rem;
        text-align: center;
    }

    .contaner-roof h2 {
        font-size: 20px;
    }

    .contaner-roof p {
        color: white;
        font-size: 18px;
        font-weight: 400;
    }

}



.contaner-roof img {
    width: 60%;
}
.contaner-roof img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .contaner-roof img {
        width: 100%;
    }
    footer{
        font-size: 12px;
    }
}

.about-phone {
    display: flex;
    height: 400px;
    width: 100%;
    gap: 20rem;
    justify-content: center;
    align-items: center;
    background-color: #FBB101;
}

.about-phone img {
    width: 350px;
    height: 350px;
}


.about-phone-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about-phone-text h3 {
    font-size: 50px;
}

.about-phone-text p {
    font-size: 16px;
}

.about-phone-text strong {
    font-size: 28px;
}

.about-phone-text strong:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.copied-message {
    display: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

.services-container {
    display: flex;
    min-height: 200px;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 22px;
    padding: 5rem;
}

.services-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 3rem;
}
.services-container-card:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.services-container-card img {
    width: 80px;
    height: 80px;
}

@media (max-width: 1080px) {
    .about_header {
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .about-phone {
        flex-direction: column;
        height: auto;
        gap: 5rem;
        padding: 2rem;
        text-align: center;
    }

    .about-phone img {
        width: 100px;
        height: 100px;
    }

    .about-phone-text h3 {
        font-size: 30px;
    }
}


/* end roof */